<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="{% url 'loginsys:logout' %}">Logout ({{ username }})</a></li>
            {% else %}
                <li><a href="{% url 'loginsys:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </section>
</div>

<h2>{{ entry.title }}</h2>
<p1>{{ entry.text }}</p1>

<form action="{% url 'blog_entries:deletepost' entry.id %}" method="post">
    {% csrf_token %}
    <input class="button" type="submit" value="Delete">
</form>